<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Tous les employés</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome.css">
</head>
<body>

    <div class="col-lg-12">
        <h1>Liste des employés</h1>
        <div class="btn-group">
            <a href="#" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle">
                Nouvel employé
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#/employes/detail/newT" class="">Technicien</a></li>
                <li><a href="#/employes/detail/newC" class="">Commercial</a></li>
                <li><a href="#/employes/detail/newM" class="">Manager</a></li>
            </ul>
        </div>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <a th:if="${currentSortDirection} == DESC" th:href="@{'/employes?page=' + ${currentPageNumber} +'&size=10&sortDirection=ASC&sortProperty=matricule'}">Matricule <span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                    <a th:if="${currentSortDirection} == ASC" th:href="@{'/employes?page=' + ${currentPageNumber} +'&size=10&sortDirection=DESC&sortProperty=matricule'}">Matricule <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                </th>
                <th scope="col">
                    <a th:if="${currentSortDirection} == DESC" th:href="@{'/employes?page=' + ${currentPageNumber} +'&size=10&sortDirection=ASC&sortProperty=nom'}">Nom <span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                    <a th:if="${currentSortDirection} == ASC" th:href="@{'/employes?page=' + ${currentPageNumber} +'&size=10&sortDirection=DESC&sortProperty=nom'}">Nom <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                </th>
                <th scope="col">
                    <a th:if="${currentSortDirection} == DESC" th:href="@{'/employes?page=' + ${currentPageNumber} +'&size=10&sortDirection=ASC&sortProperty=prenom'}">Prénom<span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                    <a th:if="${currentSortDirection} == ASC" th:href="@{'/employes?page=' + ${currentPageNumber} +'&size=10&sortDirection=DESC&sortProperty=prenom'}">Prénom <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="anEmploye : ${allEmployes}">
                <th scope="row" th:text="${anEmploye.matricule}">Matricule</th>
                <td th:text="${anEmploye.nom}" >Nom</td>
                <td th:text="${anEmploye.prenom}">Prénom</td>
                <td><a th:href="'http://localhost:8080/employes/' + (${anEmploye.id})" class="btn btn-primary ">Détail</a></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-6"><p>Affichage des employés [[${#request.getParameter('page')}*${#request.getParameter('size')}+1]] à [[${#request.getParameter('page')}*${#request.getParameter('size')}+${#request.getParameter('size')}]] sur un total de [[${total}]]</p>
            </div>
            <div class="col-lg-6">
                <ul class="pagination">
                    <li class="disabled">
                        <a th:href="'http://localhost:8080/employes?page=' + (${currentPageNumber}-1)+ '&size=10&sortDirection=ASC&sortProperty=matricule'" class="" th:unless="${#request.getParameter('page')} == 0"> «
                        </a> </li>
                    <li><a href="#" th:text="'page ' + (${#request.getParameter('page')}+1)">Page number</a></li>
                    <li class="">
                        <a th:href="'http://localhost:8080/employes?page=' + (${currentPageNumber}+1)+ '&size=10&sortDirection=ASC&sortProperty=matricule'" th:unless="${#request.getParameter('page')} >= ${maxPage}"> »
                        </a> </li>
                </ul></div>
        </div>
    </div>
</body>
</html>